header {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 120px;
	background-color: #5e5d5899;
	z-index: 999;
}
.heade-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 58px;
	height: 67px;
	background-image: url(..//image/header/logo-main.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 40px;
	font-weight: 700;
}
.text-logo,
.logo {
	color: #ffffff;
}
.box-for-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.nav-list li a {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
	color: #ffffff99;
}
.input-box {
	position: relative;
	height: 100%;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.input-box input {
	position: absolute;
	width: 180px;
	padding: 15px;
	right: 25px;
	border-radius: 5px;
	pointer-events: none;
	opacity: 0;
	transition: opacity .4s ease;
	border: none;
	outline: none;
}
.input-box input::placeholder {
	text-transform: uppercase;
	font-weight: 700;
	color: #858585;
}
/* HOVER */
.nav-list li a:hover {
	position: relative;
	color: #18cfab;
}
.nav-list li a:hover::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #18cfab;
	bottom: -50px;
	left: 0;
}
