.main-scd-block {
	padding-bottom: 90px;
}
.main-scd-block h2 {
	margin-top: 85px;
	margin-bottom: 25px;
	text-align: center;
	font-size: 36px;
	font-weight: 400;
	color: #4e4e4e;
	line-height: 40px;
}
.line {
	position: relative;
	width: 76px;
	height: 1px;
	background-color: #18cfab;
	margin: 0 auto;
}
.scd-line {
	position: absolute;
	width: 79px;
	top: 7px;
	left: 10px;
}
.main-scd-block ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 75px;
}
.main-scd-block ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% / 6);
	height: 73px;
	background-color: #f8fcfe;
	border: 1px solid #edefef;
	font-weight: 400;
	font-size: 15.9859px;
	cursor: pointer;
}
.main-scd-block ul li.active-service {
	position: relative;
	background-color: #18cfab;
	color: #fff;
}
.main-scd-block ul li.active-service::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #18cfab transparent transparent transparent;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) rotate(360deg);
}
.service-info-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	gap: 15px;
	transition: 'opacity 0.3s ease-in-out',

}
.service-info-block p {
	width: calc(100% / 6 * 5);
	font-weight: 300;
	font-size: 13.645px;
	line-height: 24px;
	color: #777777;
}
.service-info-block-photo {
	width: calc(100% / 6);
	height: 190px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
