.main-frst-block {
	width: 100%;
	height: 1012px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../image/main-frst-block/main-frst-block-bg.png) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
}
.main-frst-block-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.main-frst-block-container h1 {
	padding: 22px 0;
	font-size: 78px;
}
.main-frst-block-container span:first-of-type {
	font-size: 35px;
}
.main-frst-block-container article p {
	font-size: 30px;
	font-weight: 200;
	color: #ffffff95;
}
.main-frst-block-btn-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 125px;
	gap: 26px;
}
.main-frst-block-btn-box div {
	width: 175px;
	height: 70px;
	background-color: #ffffff;
	border-radius: 5px;
	display: flex;
	align-items: flex-end;
	transition: all 0.3s ease-in-out;

}
.main-frst-block-btn-box div a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 65px;
	font-size: 15px;
	color: #ffffff;
	border-radius: 5px;
	z-index: 10;
}
.main-frst-block-btn-box div:first-of-type a{
	background-color: #18cfab;
}
.main-frst-block-btn-box div:last-of-type a{
	background-color: #00CBF6;
}
.main-frst-block-btn-box div:hover{
	transform: translateY(-8px);
}
