.opportunity-box-container {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 8px;
}
.opportunity-box {
	width: 25%;
	height: 377px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
}
.opportunity-box:nth-child(odd) {
	background-color: #1c2a33;
	color: #18cfab;
}
.opportunity-box:nth-child(even) {
	background-color: #18cfab;
	color: #ffffff;
}
.opportunity-box img {
	transition: transform 0.3s ease-in-out;
}
/* HOVER */

.opportunity-box:hover img {
	transition: transform 0.3s ease-in-out;

	transform: scale(1.8);
}
